<div id="<%= dom_id country %>">
  <p>
    <strong>Name:</strong>
    <%= country.name %>
  </p>

  <p>
    <strong>Capital:</strong>
    <%= country.capital %>
  </p>

  <p>
    <strong>Membership:</strong>
    <%= country.membership %>
  </p>

  <p>
    <strong>Population:</strong>
    <%= country.population %>
  </p>

  <p>
    <strong>State:</strong>
    <%= country.state %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= country.language %>
  </p>

  <p>
    <strong>Money:</strong>
    <%= country.money %>
  </p>

  <p>
    <strong>Flag:</strong>
    <%= country.flag %>
  </p>

</div>
